<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name </h1><%= data[0].name  %> 
    <form method='POST' action="/table/<%= data[0]._id  %>">
        <h2>Payment</h2>
        <input type="radio" name="payment" id="">
        <ul>
            <h3>Room Number</h3>
            <li><input type="radio" name="radio" value="r1">Room1</li>
            <li><input type="radio" name="radio" value="r2">Room2</li>
            <li><input type="radio" name="radio" value="r3">Room2</li>
        </ul>
        <input type="submit" name="Submit" value="Submit">
    </form>
</body>
</html>