
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mogra&family=Mouse+Memoirs&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="container">
        <div class="TitleText">
            <div class="Titletext1">Welcome</div>
            <div class="Titletext1">to </div>
            <div class="Titletext1">Unemployed Elves!</div>
        </div>
        <div class="loginpageinput">
        </div>
        <form method = "POST" action = "/" class="pageinput">
            <input type="text" name="nric" placeholder="NRIC" id="NRICinput">
            <input type="password" name="pass" placeholder="Password" id="Password">
            <div class="signinButton">
                <button type="submit" value="Submit"  class="actionbutton" id="signin">Sign In</button>
            </div>
        </form>

        <div class="register">
            <div class="registertext"><a class="registerlink" href="/register">Register</a></div>
            
            <div class="underline"></div>
            </div>
    </div>
</body>
</html>