<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mogra&family=Mouse+Memoirs&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/register.css"> 
    <link rel="stylesheet" type="text/css" href="/sytle.css">
    <title>Document</title>
</head>
<body>
<div class="container">
<div class="TitleText">        
        <div class="Titletext1">Hi, New User</div>
        <div class="Titletext2">Enter your details to</div>
        <div class="Titletext3">register account</div>
</div>
<div class="Title Text">Hi New User , Enter your details to register your new account</div>
<form method = "POST" action="/register" class="pageinput" >
    <input type="text" id="input" placeholder="Name" name="name">
    <input type="text" id="NRICinput" placeholder="NRIC" name="nric">
    <input type="text" id="Password" placeholder="PassWord" name="pass">
    <input type="text" id="DOB" placeholder="D.O.B" name="dob">
    <input type="email" id="Email" placeholder="Email" name="mail">
    <div class="RegisterButton"><button type="submit" value="Submit" class="actionbutton" id="register">Register</button></div>
    
</form>



</body>
</html>