<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/token.css">
</head>
<body>
    <div class="center">
        <h1>TOKEN</h1>
        <%= t_id %> 
        <h2>ROOM</h2>
        <%= r_id %>
    </div>
    
</body>
</html>